* {
  margin: 0;
  padding: 0;
  box-sizing: border-size;
  text-transform: capitalize;
  outline: none;
  border: none;
 text-decoration: none;
  
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
}
/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #5971E8;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 3%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 15px 15px;
  
  }
  
  header .logo {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    text-transform: none;
    text-decoration: none;
    color: #fff;
    margin-left: 60px;
    
  }
 
  
  header .navbar  {
    float: right;
    margin-right: 20px;
  
    
  } 
  
  header .navbar li {
      display: inline-block;
      line-height: 80px;
     
  }
  
  header .navbar li a {
    color: #fff;
    font-size: 26px;
    margin: 0 0.8rem; 
    text-decoration: none;
   
    
  }
  
  header .navbar a:hover {
    color: #52d0ec;
    transition: .5s;
  }

  /* header .sign-up-now{
    margin: 50px;
    border: 3px solid red;
  } */
  
  .checkbtn {
    font-size: 26px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  
  #menu-bar {
    color: #fff;
    border: 0.1rem solid #fff;
    border-radius: 0.5rem;
    font-size: 26px;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    display: none;
  }
  .active{
    font-weight: 800;
    text-decoration: underline;
  
  }
  
  @media (max-width: 952px){
    header .navbar li a{
      font-size: 16px;
    }
  }
  
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    .navbar{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #5971E8;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    header .navbar li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    header .navbar li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ .navbar{
      left: 0;
    }
  }
  
/* HOME SECTION */
.home {
    background-image: linear-gradient(30deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../image/Rectangle\ 1\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
    padding: 2rem 9%;

   
  }

  /* LOGIN SECTION */
.login-now {
    position: absolute;
    width: 450px;
    height: 495px;
    left: 435px;
    top: 150px;
    background: #FFFFFF;
    backdrop-filter: blur(9px); /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
}

.login-text { 
    /* margin: 200px; */
    /* margin-left: 150px;
    padding-top: 500px; */
    text-align: center;
    align-items: center;
    margin-left: 180px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    color: #000000;
   
}

label {
    margin-left: 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;   /* identical to box height */
    color: #000000;

}
input {
    margin-left: 25px;
    margin-top: 5px;
    padding: 12px;
    width: 90%;
    height: 45px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

placeholder{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20sspx;
    line-height: 20px;
    width: 193px;
    height: 20px;
    margin-left: 20px;
    color: #B1B1B1;
   
}
/* btn */
.btn {
    width: 150px;
    height: 50px;
    background: #5971E8;
    border-radius: 10px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 160px;
    cursor: pointer;

}

.btn:hover {
    background-color: #0082e6;
    transition: all .5s;
}
hr {
    width: 70%;
    border: 1px solid #747474;
    align-items: center;
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 0;
    /* position: absolute;
    width: 350px;
    height: 0px;
    left: 500px;
    top: 450px;
     */
}

.sign-in-with {
    margin: 0 50px 0 180px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #000000;

}

.social-icons {
   display: flex;
   justify-content: center;
   gap: 50px;
   margin: 10px 0 45px 0; 

}

.social-icons-google {
    width: 20%;
}

.social-icons-facebook {
    width: 7.5%;
}
.social-icons-linkedin {
    width: 7.5%;
}

.social-account {
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;  /* identical to box height */
    color: #000000;
    margin-bottom: 30px;
}

.social-sign-up {
    color: #5971E8;
    font-weight: bold;
}




/* FOOTER SECTION */
.footer {
  background-color: #5971E8;
  padding: 30px 100px 0 100px;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .box-container .box {
  padding: 1rem 0; 
  flex: 1 1 19rem;
}

.footer .box-container .box h3 {
  font-size: 1.8rem;
  padding: 0.5rem 0;
  color: #fff;
}

.footer .box-container .box p {
  font-size: 1.1rem;
  /* width: 100%; */
  /* padding: 0.7rem 0; */
  color: #eee;
  line-height: 1.5;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  color: #eee;
}

.footer .box-container .box a:hover {
  color: #d8dfe9;
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: normal;
  color: #fff;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.box-quick {
  display: flex;
  gap: 50px;
  justify-content: space-around;
}

.precious-paragrapgh {
  width: 70%;
}
